<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/normalize.css">
     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/libs/css/bootstrap.min.css">

    <title></title>
</head>

<body>

    <form role="form">

    </form>

<form role="form">

</form>
<br>

<p class="bg-primary">Share your comments</p>

<form method="POST" name="htmlForm">{% csrf_token %}
    <h5><b>Title</b></h5>
    <input type="text" class="form-control" placeholder="Text input" name="title">
    <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" id="exampleInputFile" name="image">
    </div>


    <button type="submit" class="btn btn-success">Share</button>

</form>

    {% for gag in gags%}
    <tr>
        <td><p>{{gag.title}}</p></td>
   </tr>
    {% endfor %}

%}


</body>

</html>